<!-- ========== Left Sidebar Start ========== -->
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px">
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      
      {% for cat in category_list %}
        {% if cat == category %}
          <li class="nav-item">
            <a href="/pybo/{{ cat }}" class="nav-link active" aria-current="page">
              {{ cat.description }}
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="/pybo/{{ cat }}" class="nav-link text-white">
              {{ cat.description }}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      <li class="nav-item">
        <a href="/" class="nav-link text-white">
          Dashboard
        </a>
      </li>
    </ul>
    <hr>
</div>
<!-- Left Sidebar End -->